.container {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  width: 100%;
  background-color: #716edb;

  .buttons {
    width: 50%;
    display: flex;

    .tool {
      cursor: pointer;
      border-radius: 5px;
      width: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: 5px;

      svg {
        color: white;
      }

      &:hover {
        svg {
          color: #3f51aa;
        }
      }
    }
  }

  .settings {
    display: flex;
    width: 50%;
  }
}
